In [1]:
import pandas as pd
from pandas import DataFrame

df=DataFrame({
    'age':[25,30,35],
    'name':['Nii','Adjei','Sowah'],
    'salary':['1,000','2,000','12,000']
})

df

   age   name  salary
0   25    Nii   1,000
1   30  Adjei   2,000
2   35  Sowah  12,000

In [4]:
df.dtypes.astype(str).to_dict()

{'age': 'int64', 'name': 'object', 'salary': 'object'}

In [3]:
import sys          
print(sys.executable)

c:\Users\HP\Desktop\ML Projects\E2Enectsecurity\nenv\Scripts\python.exe

In [1]:
from scipy.stats import ks_2samp
print("SciPy successfully imported!")

SciPy successfully imported!